PORT=3000
SESSION_SECRET=sessionSecret
DB_URI=mongodb+srv://minhmeomeomun:dung0946238573@cluster0.qft8ket.mongodb.net/BaseJs?retryWrites=true&w=majority
SALT_ROUND=10
JWT_SECRET=jwtsecret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET_KEY=